extends layouts/main

block content
  .twitter-container
    //- Left Sidebar
    .sidebar.left-sidebar
      .logo
        i.fab.fa-twitter
      nav.main-nav
        ul
          li.active
            a(href="#")
              i.fas.fa-home
              span Home
          li
            a(href="#")
              i.fas.fa-search
              span Explore
          li
            a(href="#")
              i.fas.fa-bell
              span Notifications
          li
            a(href="#")
              i.fas.fa-envelope
              span Messages
          li
            a(href="#")
              i.fas.fa-list
              span Lists
          li
            a(href="#")
              i.fas.fa-bookmark
              span Bookmarks
          li
            a(href="#")
              i.fas.fa-user
              span Profile
      .tweet-button
        button.btn-primary Tweet

    //- Main Content
    .main-content
      .header
        h1 Home
        .tabs
          .tab.active For you
          .tab Following
      .tweet-compose
        .avatar
          img(src="https://via.placeholder.com/48", alt="User avatar")
        .tweet-input
          textarea(placeholder="What's happening?")
          .tweet-actions
            .tweet-attachments
              a(href="#")
                i.far.fa-image
              a(href="#")
                i.far.fa-smile
              a(href="#")
                i.fas.fa-poll
              a(href="#")
                i.far.fa-calendar
              a(href="#")
                i.fas.fa-map-marker-alt
            button.btn-primary Tweet
      .tweet-feed
        //- Tweet items will be dynamically added here

    //- Right Sidebar
    .sidebar.right-sidebar
      .search-box
        i.fas.fa-search
        input(type="text", placeholder="Search Twitter")
      .trends
        h2 Trends for you
        .trend-item
          .trend-category Trending in Technology
          .trend-title #AI
          .trend-tweets 1.2M Tweets
      .who-to-follow
        h2 Who to follow
        .follow-item
          .user-info
            img(src="https://via.placeholder.com/40", alt="User avatar")
            .user-details
              .name User Name
              .handle @username
          button.btn-outline Follow 